@media screen and (max-width: 1023px) {

    a.btn-contact.display-none {
        display: none;
    }

    a.btn-start.display-none {
        display: none;
    }

    /* SEÇÃO 1 HERO */

    .hero_container-btn .btn-how-it-works.display-none {
        display: none;
    }

    section.hero {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        align-content: center;
    }

    div.hero_container-content {
        align-items: center;
        align-content: center;
        gap: 30px;
        width: 100%;
        text-align: center;
    }

    div.hero_container-img {
        width: 320px;
    }

    /* SEÇÃO 2 CLIENTES */
    section.clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    div.clients_container {
        gap: 40px;
        justify-content: space-around;
    }
}

/* RESPONSIVIDADE PARA TABLETS */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    section.max-width {
        padding: 100px 12px;
    }
}

/* RESPONSIVIDADE PARA SMARTPHONES */

@media screen and (max-width: 637px) {
    section.max-width {
        padding: 60px 12px;
    }

    .mobile {
        display: block;
    }

    nav.header_menu {
        justify-content: center;
    }

    .header_menu-links.display-none {
        display: none;
    }

    header {
        padding: 0 12px;
    }

    div.hero_container-content {
        gap: 20px;
    }

    div.hero_container-content h1 {
        font-size: 3.4rem;
        line-height: 52px;
    }
}