.max-width {
    max-width: 1280px;
    width: 100%;
    padding: 120px 12px;
    box-sizing: border-box;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.span-destaque {
    color: var(--cor-destaque2);
}

.title-sections {
    font-size: 3rem;
    line-height: 42px;
}

p {
    line-height: 28px;
}

header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 100px;
}

nav.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

div.header_menu-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ESTILO GERAL DOS BOTÕES */

a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
    height: 60px;
    border-radius: 20px;
    font-weight: 600;
    color: var(--cor-terciaria);
    transition: 0.5s ease;
}

a.btn-contact {
    margin-right: 42px;
}

a.btn-contact:hover {
    color: var(--cor-terciaria-hover);
}

a.btn-how-it-works {
    width: 202px;
}

.header_menu-links .btn-how-it-works {
    background-color: var(--cor-terciaria-claro);
}

.header_menu-links .btn-how-it-works:hover {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria-claro);
}

a.btn-start {
    background-color: var(--cor-terciaria);
    width: 221px;
    height: 60px;
    color: var(--cor-secundaria);
}

a.btn-start:hover {
    background-color: var(--cor-terciaria-hover);
}

/* CONTEÚDO PRINCIPAL MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

/* SEÇÃO 1 HERO */

.hero {
    display: flex;
    align-items: center;
    gap: 70px;
}

div.hero_container-content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 32px;
    width: 60%;
}

div.hero_container-content h1 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 62px;
}

div.hero_container-btn {
    display: flex;
    gap: 20px;
}

.hero_container-btn a.btn-how-it-works {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria);
}

.hero_container-btn a.btn-how-it-works:hover {
    background-color: var(--cor-terciaria-claro);
    border-color: var(--cor-terciaria-claro);
}

div.hero_container-img {
    width: 40%;
    display: flex;
    box-sizing: border-box;
}

div.hero_container-img img.celular-img {
    width: 100%;
}


/* SEÇÃO 2 CLIENTES */

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

div.clients_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    box-sizing: border-box;
    padding: 60px 0;
    width: 100%;
    border: 1px solid var(--cor-secundaria-escuro);
    border-left: none;
    border-right: none;
}

/* SEÇÃO 3 FEATURES */


.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 60px;
    text-align: center;
}

.features_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    gap: 60px;
    width: 100%;
}

.features_content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 33%;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 30px;
}

.features_content h3 {
    font-size: 2.4rem;
}

.features_content a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--cor-terciaria);
    font-weight: 600;
    transition: 0.5s ease;
}

.features_content a:hover {
    color: var(--cor-terciaria-hover);
}

.features_content a svg path {
    fill: transparent;
    stroke: var(--cor-terciaria);
    transition: 0.5s ease;
}

.features_content a:hover svg path {
    stroke: var(--cor-terciaria-hover);
}

/* SEÇÃO 4 METRICS */

.metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 42px;
    width: 100%;
}

.metrics_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.metrics_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    padding: 48px;
    width: 25%;
    border-radius: 20px 20px 0 0;
    border-bottom: 4px solid var(--cor-destaque1);
}

.metrics_content h3 {
    font-size: 3.2rem;
}

/* SEÇÃO 5 UI KIT */

.uikit {
    display: flex;
    align-items: center;
    gap: 22px;
}

.uikit_container-img {
    display: flex;
    box-sizing: border-box;
    width: 40%;
}

.uikit_container-img img {
    width: 100%;
}

.uikit_container-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 22px;
    width: 60%;
}

.uikit_container-content .btn-start svg path {
    fill: transparent;
    stroke: var(--cor-secundaria);
}

/* SEÇÃO 6 COMENTARIOS */

.comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 22px;
    text-align: center;
}

.comentarios_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 30px;
    width: 100%;
}

.comentarios_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 24px;
    width: 350px;
    padding: 30px;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}

.comentarios_container-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* SEÇÃO 7 PLANS */

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    text-align: center;
}

.plans_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

.plans_container-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 24px;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 40px;
    text-align: left;
    width: 30%;
}

.plan-title {
    font-weight: 400;
    font-size: 2rem;
}

.plan-value {
    font-size: 4rem;
    font-weight: 700;
}

.plan-value span {
    font-weight: 500;
}

.plan-info {
    display: flex;
    gap: 12px;
    font-weight: 600;
}

a.btn-plan {
    width: 100%;
    background-color: var(--cor-terciaria-claro);
}

a.btn-plan:hover svg path {
    stroke: var(--cor-terciaria-hover);
}

a.btn-plan:hover {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria-hover);
    color: var(--cor-terciaria-hover);
}

.plans_container-content.enterprise {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.enterprise a.btn-plan {
    background-color: var(--cor-secundaria);
}

.enterprise a.btn-plan:hover {
    background-color: var(--cor-terciaria-claro);
}

/* SEÇÃO 8 TEAM */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    text-align: center;
}

.team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px;
    width: 100%;
}

.team_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
    width: 270px;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}

.team_img-container {
    width: 100%;
    height: 278px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}

.team_img1 {
    background-image: url("../images/profile-image-team1.png");
}

.team_img2 {
    background-image: url("../images/profile-image-team2.png");
}

.team_img3 {
    background-image: url("../images/profile-image-team3.png");
}

.team_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team_icons-social .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria-claro);
    border-radius: 30px;
}

.team_icons-social {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 16px;
    width: 100%;
    border-top: 1px solid var(--cor-secundaria-escuro);
    padding: 30px;
}

/* SEÇÃO 9 LANDING PAGE UI KIT */

section.page-ui-kit {
    padding: 32px 12px;
}

.page-ui-kit_container-bg {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--cor-destaque1);
    height: 434px;
    border-radius: 20px;
    overflow: hidden;
}

.page-ui-kit_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 32px;
    height: 100%;
    padding: 0 60px;
}

.page-ui-kit_container a svg path {
    stroke: var(--cor-secundaria);
}

/* SEÇÃO 10 CONTACT */

.contact {
    display: flex;
    justify-content: center;
}

.contact_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
    width: 100%;
    padding: 60px;
    border-radius: 20px;
    background-color: var(--cor-secundaria);
}

.contact_title-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact_container-contacts {
    display: flex;
}

.contact_links-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 40%;
}

.links-contact {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.links-contact a {
    display: flex;
    gap: 12px;
    color: var(--cor-primaria);
}

.links-contact a:hover {
    color: var(--cor-terciaria-hover);
}

.links-contact a i {
    color: var(--cor-terciaria);
}

.links-contact a:hover i {
    color: var(--cor-terciaria-hover);
}

.connect-with-us {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.connect-with-us h4 {
    font-size: 1.8rem;
}

.links-sociais-container {
    display: flex;
    gap: 16px;
}

.links-sociais-container .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciaria-claro);
    color: var(--cor-primaria);
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.form_container {
    display: flex;
    width: 60%;
}

.form_container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.form_container input {
    display: flex;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: 1px solid var(--cor-secundaria-escuro);
}

.form_container input:focus {
    outline: none;
}

.form_container button {
    font-family: var(--font);
    width: 159px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-weight: 600;
}

.form_container button:hover {
    background-color: var(--cor-terciaria-hover);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 32px 12px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 30px;
    max-width: 1280px;
    width: 100%;
    color: var(--cor-secundaria);
}

.footer_container a {
    color: var(--cor-secundaria);
}

.footer_links-sociais {
    display: flex;
    gap: 12px;
}

.footer_links-sociais .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--cor-primaria-claro);
    color: var(--cor-secundaria);
    border-radius: 30px;
}